.login-page {
    display: flex;
    width: 100vw;
    height: 90vh;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: url(https://images.pexels.com/photos/256490/pexels-photo-256490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.login-container{
    border: #000 1px solid;
    width: 35vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgb(0, 0, 0);
}
